header {
    background-color: rgb(32, 32, 32);
    text-align: right;
}
a {
    text-decoration: none;
    color: aliceblue;
    margin: 2%;
    font-size: 70%;
}
            body {  
          background-repeat: no-repeat;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
              }
              .mydiv {
                padding: 15px 50px 15px 80px;
                box-sizing: border-box;
                position: relative;
                max-width:400px;
                margin: 0 auto;
              }
              
              .mydiv image {vertical-align: middle;}
              
                .mydiv {
                position: absolute;
                right: 37%;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 35%;
                padding: 10px;
              }
              .second {
                padding: 18px 10px 60px 20px;
                box-sizing: border-box;
                position: relative;
                max-width: 500px;
                margin:auto;
              }
              
              .second image {vertical-align: middle;}
              
                .second {
                position: absolute;
                top: 40%;
                right: 68%;
                background: rgb(0, 0, 0);/* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
              }

              .third {
                padding: 18px 10px 60px 20px;
                box-sizing: border-box;
                position: relative;
                max-width: 500px;
                margin: auto;
              }
              
              .third image {vertical-align: middle;}
              
                .third {
                position: absolute;
                top: 40%;
                right: 2%;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                opacity: ;
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
              }
              .forth {
                padding: 80px 100px 80px 100px;
                box-sizing: border-box;
                position: relative;
                max-width: 2000px ;
                margin: auto;
              }
              
              .forth image {vertical-align: middle;}
              
                .forth {
                position: absolute;
                top: 10%;
                right: 0%;
                background: rgb(3, 3, 3); /* Fallback color */
                background: rgba(3, 3, 3, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 10px;
              }

              .fifth {
                padding: 100px 50px 100px 50px;
                box-sizing: border-box;
                position: relative;
                max-width: ;
                margin: auto;
              }
              
              .fifth image {vertical-align: middle;}
              
                .fifth {
                position: absolute;
                top: 20%;
                right: 0%;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 10px;
              }

              .sixth {
                padding: 25px 50px 75px 100px;
                box-sizing: border-box;
                position: relative;
                max-width: 800px;
                margin: 0 auto;
              }
              
              .sixth image {vertical-align: middle;}
              
               .sixth {
                position: absolute;
                right: 35%;
                top: 6%;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
                margin-top: 2.5%;
               }

               .seven {
                padding: 18px 10px 60px 20px;
                box-sizing: border-box;
                position: relative;
                max-width: 500px;
                margin:auto;
              }
              
              .seven image {vertical-align: middle;}
              
                .seven {
                position: absolute;
                top: 45%;
                right: 68%;
                background: rgb(0, 0, 0);/* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
              }

              .eight {
                padding: 18px 10px 60px 20px;
                box-sizing: border-box;
                position: relative;
                max-width: 500px;
                margin: auto;
              }
              
              .eight image {vertical-align: middle;}
              
                .eight {
                position: absolute;
                top: 45%;
                right: 2%;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                opacity: ;
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
              }
 

