header {
    background-color: rgb(32, 32, 32);
    text-align: right;
}
a {
    text-decoration: none;
    color: aliceblue;
    margin: 2%;
    font-size: 70%;
}
            body { 
          background-image: url("./4.jpg"); 
          background-repeat: no-repeat;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
              }