header {
  height: 70px;
  background-color: rgb(56, 54, 54); /* For browsers that do not support gradients */
  background-image:linear-gradient(-90deg, rgb(29, 28, 28), rgb(73, 72, 72));
    text-align: left;
    font-size: 140%;
}

a {
    text-decoration: none;
    color: aliceblue;
    margin: 2%;
    font-size: 65%;
}
            body {  
          background-repeat: no-repeat;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
              }

      .mydiv {
                padding: 10px -3px 10px -3px;
                box-sizing: border-box;
                border-radius: 70%;
                position: relative;
                max-width:200px;
                margin: 0 auto;
              }
              
    .mydiv image {vertical-align: middle;}
              
    .mydiv {
                position: absolute;
                top: 3%;
                right: 2%;
                background: rgb(216, 68, 68); /* Fallback color */
                background: rgba(14, 4, 59, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 15%;
                padding: -20px;
              }

              .sixth {
                padding: 25px 50px 75px 100px;
                box-sizing: border-box;
                border-radius: 5%;
                position: relative;
                max-width: 800px;
                margin: 0 auto;
              }
              
              .sixth image {vertical-align: middle;}
              
               .sixth {
                position: absolute;
                right: 35%;
                top: 10%;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
                margin-top: 2.5%;
               }

               .seven {
                padding: 18px 10px 60px 20px;
                box-sizing: border-box;
                border-radius: 35%;
                position: relative;
                max-width: 500px;
                margin:auto;
              }
              
              .seven image {vertical-align: middle;}
              
                .seven {
                position: absolute;
                top: 45%;
                right: 68%;
                background: rgb(0, 0, 0);/* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
              }
              .seven:hover {
                box-shadow: 0 0 3px black;
                margin-top: -20px;
              }

              .eight {
                padding: 18px 10px 60px 20px;
                box-sizing: border-box;
                border-radius: 35%;
                position: relative;
                max-width: 500px;
                margin: auto;
              }
              
              .eight image {vertical-align: middle;}
              
                .eight {
                position: absolute;
                top: 45%;
                right: 2%;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 30%;
                padding: 10px;
              }
              .eight:hover {
                box-shadow: 0 0 3px black;
                margin-top: -20px;
              }