header {
  height: 70px;
  background-color: rgb(56, 54, 54); /* For browsers that do not support gradients */
  background-image:linear-gradient(-90deg, rgb(29, 28, 28), rgb(79, 99, 105));
    text-align: left;
    font-size: 140%;
}

a {
    text-decoration: none;
    color: aliceblue;
    margin: 2%;
    font-size: 65%;
}
            body {  
          background-repeat: no-repeat;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
              }

.mydiv {
                padding: 10px -3px 10px -3px;
                box-sizing: border-box;
                border-radius: 70%;
                position: relative;
                max-width:200px;
                margin: 0 auto;
              }
              
    .mydiv image {vertical-align: middle;}
              
    .mydiv {
                position: absolute;
                top: 4%;
                right: 2%;
                background: none;
                background: none; 
                color: #f1f1f1;
                width: 15%;
                padding: -20px;
              }
                .first {
                  padding: 15px 10px 15px 10px;
                  box-sizing: border-box;
                  border-radius: 8%;
                  position: relative;
                  max-width:300px;
                  margin: 0 auto;
                }
                
                .first image {vertical-align: middle;}
                
                  .first {
                  position: absolute;
                  top: 40%;
                  right: 55%;
                  background: rgb(0, 0, 0); /* Fallback color */
                  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                  color: #f1f1f1;
                  }

                  .second {
                    padding: 15px 10px 15px 10px;
                    box-sizing: border-box;
                    border-radius: 8%;
                    position: relative;
                    max-width:300px;
                    margin: 0 auto;
                  }
                  
                  .second image {vertical-align: middle;}
                  
                    .second {
                    position: absolute;
                    top: 40%;
                    right: 30%;
                    background: rgb(0, 0, 0); /* Fallback color */
                    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                    color: #f1f1f1;
                    }


